html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* game screen is always horizontally centered */
/* portrait = pixel size based on game screen width x*/
/* landscape = pixel size based on game screen height */

:root {
	--actual-height: 100vh;
	--play-area-width: 100vw;
	--game-bg-color: #071c08;
	--opponent-area-bg-color: #4e4e2f;
	--player-area-bg-color: #223b3b;
	--header-height: calc(var(--actual-height) / 18);
	--footer-height: calc(var(--actual-height) / 18);
	--turn-area-height: calc((var(--actual-height) - var(--header-height) - var(--footer-height)) / 2 );
	--die-lane-width: calc(var(--turn-area-height) / 4.5);
	--die-size: calc(var(--die-lane-width) * 0.8);
	--die-animation-speed: 200ms;
	--border-width: calc(var(--die-size) / 24);
	--button-height: calc(var(--header-height) * 1.5);
}

body {
	font-display: swap;
	/* font-family: 'Press Start 2P', sans-serif; */
	font-family: sans-serif;
	font-size: calc(var(--die-lane-width) / 6);
	color: white;
  width: 100%;
	max-width: 100%;
	height: var(--actual-height);
	min-height: var(--actual-height);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
	overscroll-behavior: contain;
	background-color: black;
	/* transition: opacity 900ms ease; */
}
main {
	display: flex;
	width: 100%;
	height: var(--actual-height);
	flex-direction: column;
}
.title-die {
	position: fixed;
	top: var(--header-height);
	left: calc(var(--die-size) * -2);
	scale: 1.5 !important;
	animation-delay: 130ms;
	animation-duration: 950ms;
  animation-name: streak;
	animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
	transition: 0 !important;
	opacity: 0.9;
	z-index: 4;
	pointer-events: none;
}
#game-area {
	flex: 1;
	background-color: var(--game-bg-color);
	z-index: 1;
	transition: transform 200ms ease;
}
#game-area.demo-mode {
	transform: scale(0.65) translateY(calc(var(--header-height) * 0.5));
	pointer-events: none;
	z-index: 4;
	box-shadow: 0 0 calc(var(--die-size)) rgba(0, 0, 0, 0.383);
}

.turn-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: var(--turn-area-height);
}
#opponent-area::before {
	content: 'has not clicked Start';
	color: white;
	font-size: calc(var(--header-height) / 2);
	position: absolute;
	height: inherit;
	width: 100%;
	background-color: rgb(23, 5, 5);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity 200ms ease;
}
#opponent-area.dim::before {
	opacity: 0.75;
}
.turn-area::after {
	content: '';
	font-size: calc(var(--die-size));
	font-weight: bold;
	position: absolute;
	height: var(--turn-area-height);
	width: 100%;
	background-color: rgba(134, 134, 134, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 300ms ease;	
	pointer-events: none;
	text-shadow: 0 0 calc(var(--border-width) * 2) rgba(0, 0, 0, 0.5);
}
.turn-area.won::after {
	content: 'WINNER';
	background-color: rgba(131, 181, 93, 0.6);
	opacity: 1;
}
.turn-area.lost::after {
	content: ':(';
	opacity: 1;
}
/* .turn-area.won, .turn-area.lost {
	filter: blur(var(--border-width));
} */

#opponent-area {
	background-color: var(--opponent-area-bg-color);
}
#player-area {
	background-color: var(--player-area-bg-color);
}

.die-area {
	width: calc((var(--die-lane-width) * 3) + (var(--border-width) * 6));
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: calc(var(--border-width) * 2);
	grid-template-rows: calc(var(--die-lane-width) / 3) 1fr;
}
#player-area .die-area {
	grid-template-rows: 1fr calc(var(--die-lane-width) / 3);
}
.die-lane {
	height: calc((var(--die-lane-width) * 3) * 0.95);
	border: var(--border-width) solid rgba(27, 145, 72, 0.35);
	border-radius: calc(var(--border-width) * 2);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 200ms ease;
	position: relative;
	pointer-events: none;
}
.die-lane::before {
	opacity: 0;
	content: '';
	background-color: salmon;
	width: var(--die-lane-width);
	position: absolute;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	transition: opacity 300ms ease;
}
.die-lane.available {
	pointer-events: unset;
}
.die-lane.available::before {
	animation-duration: 500ms;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#opponent-area .die-lane {
	justify-content: end;
	flex-direction: column-reverse;
	grid-row-start: 2;
}
/* #opponent-area .die-lane:nth-child(1) {
	grid-column-start: 3;
}
#opponent-area .die-lane:nth-child(3) {
	grid-column-start: 1;
} */
#player-area .die-lane {
	justify-content: start;
}
.die-lane-total-area {
	width: 100%;
	height: 100%;
	grid-column-end: span 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.die-lane-total {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.name-score-area {
	width: var(--play-area-width);
	display: flex;
	justify-content: space-around;
}
.contestant-info, .contestant-score {
	display: flex;
	align-items: center;
	justify-content: center;
}
.new-die-box, .contestant-info, .contestant-score {
	height: var(--die-lane-width);
	width: var(--die-lane-width);
	display: flex;
	align-items: center;
	justify-content: center;
}
.contestant-score {
	font-size: calc(var(--die-lane-width) / 2)
}
.contestant-score::after {
	content: '';
	position: fixed;
	font-size: calc(var(--border-width) * 5);
	transform: translateY(-100%);
	opacity: 0;
	transition: transform 300ms ease, opacity 100ms ease;
}
.contestant-score.decreased::after {
	opacity: 1;
	color: rgb(175, 47, 47);
	transform: translateY(-175%);
}
.contestant-score.increased::after {
	opacity: 1;
	color: rgb(119, 220, 85);
	transform: translateY(-175%);
}
.new-die-box {
	border: var(--border-width) solid rgb(146, 145, 145);
	border-radius: calc(var(--border-width) * 2);	
}
.new-die-box.highlighted {
	animation-duration: 400ms;
  animation-name: pulseborder;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.die-lane.highlighted {
	border-color: rgba(149, 214, 152, 0.724);
}
.die {
	height: var(--die-size);
	width: var(--die-size);
	background-color: rgb(244, 244, 244);
	border-radius: calc(var(--die-lane-width) * 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	scale: 0;
	filter: drop-shadow(0 0 calc(var(--border-width) * 2) rgba(0, 0, 0, 0.25));
	transition: scale var(--die-animation-speed) ease, background 150ms ease;
}
#title-die-area {
	width: calc(var(--die-size) * 3.5);
	height: inherit;
	animation: unset !important;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: unset;
	transform: translateY(calc(var(--header-height) * -10));
}
#title-die-area .die {
	scale: 1;
}
#title-die-area.landed {
	transform: none;
	transition: all 1000ms linear;
}
@media (prefers-color-scheme: dark) {
  .die {
		background-color: rgb(200, 200, 200);
	}
}
.die.doubled {
	background-color: rgb(201, 206, 124);
}
.die.tripled {
	background-color: rgb(200, 147, 236);
}
.die::before {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: calc(var(--die-size) / 2);
	font-weight: bold;
	text-shadow: 0 0 2px black;
	opacity: 0;
	scale: 0.8;
	transition: all var(--die-animation-speed) ease;
}
.die.doubled::before, .die.tripled::before {	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 50% 50%;
	font-size: calc(var(--die-size) / 2);
	font-weight: bold;
	text-shadow: 0 0 2px black;
	opacity: 0.6;
	scale: 1;
}
.die.doubled::before {
	content: 'x2';
}
.die.tripled::before {
	content: 'x3';
}
.die.doubled::after {
	background-color: rgb(201, 206, 124);
}
.die.tripled::after {
	background-color: rgb(200, 147, 236);
}
.die.showing {
	scale: 1;
}
.die.angry {
	background-color: rgb(175, 47, 47);
	scale: 0.9;
}
.die-dot-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}
.die-dot {
	visibility: hidden;
	border-radius: 50%;
	height: calc(var(--die-size) / 4.5);
	width: calc(var(--die-size) / 4.5);
	margin: calc(var(--die-size) * 0.025);
}
.die-dot.filled {
	visibility: visible;
	background-color: black;
}

#opponent-die-grid .die {
	margin-bottom: calc(var(--die-lane-width) * 0.1);
}
#player-die-grid .die {
	margin-top: calc(var(--die-lane-width) * 0.1);
}

header, footer {
	top: 0;
	left: 0;
	width: 100vw;
	font-family: sans-serif;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	color: rgb(72, 72, 72);
	background: rgb(63, 39, 39);
	padding: 0 calc(var(--header-height) / 4);
	z-index: 1;
}
header {
	height: var(--header-height);
	color: #ddd;
}
footer {
	height: var(--footer-height);
	top: unset;
	bottom: 0;
}
#title-legend {
	/* flex: 1; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10vw;
}
#title-legend.animating > div:nth-child(even) {
	animation-duration: 1000ms;
  animation-name: jig;
	animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#title-legend.animating > div:nth-child(odd) {
	animation-delay: 650ms;
	animation-duration: 500ms;
  animation-name: wobble1;
	animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#title-legend > div {
	transform: scale(0);
}
#title-legend > div:nth-child(odd) {
	transform: scale(0);
}
#title-legend.showing > div {
	transition: transform 500ms ease;
	transform: scale(1);
}
#title-legend.showing > div:nth-child(odd) {
	transition: transform 300ms ease;
	transform: scale(1);
}
#title-legend > div.revealed {
	transition: transform 500ms ease;
	transform: scale(1) translateY(0);
}
#title-footer {
	background-color: unset;
	justify-content: center;
	color: rgba(255, 255, 255, 0.3);
}
#title-footer i {
	position: absolute;
	bottom: calc(var(--header-height) / 5);
	right: calc(var(--header-height) / 5);
	font-size: calc(var(--header-height) / 1.5);
}
#title-footer a {
	text-decoration: none;
	color: rgba(247, 255, 245, 0.5);
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	min-width: calc(var(--header-height) * 6);
	height: calc(var(--actual-height) / 2);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: rgb(126, 57, 25);
	border-radius: calc(var(--header-height) / 4);
	transition: opacity var(--die-animation-speed) ease, transform var(--die-animation-speed) ease;
	z-index: 4;
}
.icon {
	font-size: var(--die-size);
}
#coin-flip-modal {
	height: calc(var(--actual-height) / 3);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0.9);
	background: transparent;
	display: none;
}
#coin {
	background: gray;
	border-radius: 50%;
	width: calc(var(--die-size) * 3);
	height: calc(var(--die-size) * 3);
	font-size: calc(var(--die-size) / 2);
	border: var(--border-width) solid rgb(126, 126, 126);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	filter: drop-shadow(0px 0px 4px black);
	transition: transform 100ms ease;
}
#coin.turned {
	transform: scaleX(0);
}
#coin.landed {
	animation-duration: 1500ms;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#confirm-game-modal {
	font-size: 200%;
	justify-content: space-between;
	padding-bottom: calc(var(--header-height) / 2);
	transform: translate(-50%, -50%) scale(0.9);
	display: none;
}
.modal.showing {
	opacity: 1 !important;
	transform: translate(-50%, -50%) scale(1) !important;
}
#confirm-header {
	align-self: stretch;
	height: var(--header-height);
	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: rgba(0, 0, 0, 0.276);
	display: flex;
	align-items: center;
	justify-content: center;
}
#confirm-message {
	font-size: 60%;
	padding: calc(var(--header-height) / 2) 0;
}
#player-confirm-display {
	display: grid;
	grid-template-columns: 1fr calc(var(--header-height) * 2) 1fr;
	grid-template-rows: 1fr calc(var(--header-height) * 2);
	align-items: center;
	justify-items: stretch;
	align-self: stretch;
}
#player-confirm-display > p {
	font-size: 150%;
	justify-self: center;
}
.player-confirm-icon-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(var(--header-height) * 2);
}
#player-confirm-name, #opponent-confirm-name {
	font-size: calc(var(--header-height) / 2.5);
	text-align: center;
}
#player-check, #opponent-check {
	font-size: calc(var(--header-height) * 1.5);
	justify-self: center;
	transition: all 400ms;
}
#player-check.checked, #opponent-check.checked {
	color: green;
}
#player-check {
	grid-row-start: 2;
	grid-column-start: 1;
}
#opponent-check {
	grid-row-start: 2;
	grid-column-start: 3;
}
/* #confirm-check-mark-area {
	grid-row-start: 2;
	grid-column-end: span 3;
	border: 1px solid;
	background: blue;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
} */
button {
	border-radius: calc(var(--header-height) / 6);
}
#confirm-game-modal > button {
	padding: calc(var(--header-height) / 4);
	font-size: 100%;
	padding: calc(var(--header-height) / 3) var(--header-height);
}
button#reject-game-button {
	font-size: 50%;
	padding: calc(var(--header-height) / 4) calc(var(--header-height) / 2);
	background-color:rgb(134, 78, 78);
	opacity: 0;
	display: none;
}
#reject-game-button.hidden, #confirm-game-button.hidden {
	opacity: 0 !important;
	pointer-events: none;
}
#confirm-game-button {
	transition: opacity 200ms ease, transform 200ms ease;
}
#confirm-game-button:disabled {
	opacity: 0.5;
	transform: scale(0.8);
}
#confirm-game-button:not(:disabled) {
	animation-duration: 500ms;
  animation-name: bob;
  animation-iteration-count: infinite;
  animation-direction: alternate;
	background-color: green;
}
#lobby-screen {
	position: fixed;
	top: var(--header-height);
	min-height: calc(var(--actual-height) - var(--header-height));
	background-color: #222;
	color: rgb(181, 190, 181);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	transition: transform 200ms ease, filter 200ms ease, opacity 200ms ease;
	z-index: 2;

	/* display: none; */

}
#lobby-screen.blurred {
	filter: blur(2px) brightness(80%);
}
#lobby-screen.hidden {
	opacity: 0;
	pointer-events: none;
}
#user-list-area {
	background-color: rgb(45, 54, 57);
	width: 100%;
	padding: calc(var(--border-width) * 4);
	flex: 1;
	overflow-y: scroll;
}
#chat-area {
	width: var(--play-area-width);
	background-color: #111;
	height: calc(var(--actual-height) / 2.5);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding: calc(var(--border-width) * 6);
	font-size: 1.15em;
}
#lobby-chat-window {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	overflow-y: scroll;
}
#lobby-chat-window {
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
}
#lobby-chat-window::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.chat-message, .user-list-row, #user-column-labels {
	display: grid;
	grid-template-columns: 20% min-content 1fr min-content;
	justify-items: start;
	column-gap: calc(var(--border-width) * 4);
	margin-bottom: calc(var(--border-width) * 4);
}
#user-list {
	display: flex;
	flex-direction: column;
	align-items: stretch;	
}
#user-column-labels {
	justify-items: start;
}

#user-list > div, #user-column-labels {
	grid-template-columns: 8rem 4rem 1fr max-content;
	justify-items: start;
	padding: calc(var(--border-width) * 4);
}
#user-list > div {
	background-color: #333;
	border-radius: calc(var(--border-width) * 3);
	padding: calc(var(--border-width) * 6) calc(var(--border-width) * 4);
}
#user-list > div > div:nth-child(4) {
	justify-self: end;
}
.chat-message {
	grid-template-columns: 1fr max-content;
	grid-template-rows: min-content 1fr;
	justify-items: unset;
	row-gap: calc(var(--border-width) * 2);
	border-bottom: calc(var(--border-width) / 2) solid rgba(34, 34, 34, 0.2);
	padding-bottom: calc(var(--border-width) * 4);
}
.self div:nth-child(1) {
	color: rgb(201, 203, 123);
}
.chat-message div {
	hyphens: auto;
}
.chat-message div:nth-child(1), .chat-message div:nth-child(2) {
	font-size: 0.9rem;
}
.chat-message div:nth-child(3) {
	color: #ddd;
}
.chat-message div:nth-child(4) {
	display: flex;
	align-items: center;
	justify-content: center;
}
.chat-message div:nth-child(3) {
	padding: calc(var(--border-width) * 2);
}
#user-list-area > div:nth-child(2) {
	font-size: 0.8rem;
	margin: calc(var(--border-width) * 4) 0;
	padding-bottom: calc(var(--border-width) * 4);
	border-bottom: calc(var(--border-width) / 2) solid rgba(34, 34, 34, 0.2);
}
#user-list-area > div:nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: center;
}
#chat-entry-area {
	margin-top: calc(var(--border-width) * 4);
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
#lobby-chat-field {
	padding: calc(var(--border-width) * 3);
	font-size: inherit;
	flex: 1;
}
#chat-submit-button {
	width: calc(var(--die-size));
	margin-left: calc(var(--border-width) * 3);
}
#lobby-control-panel {
	width: var(--play-area-width);
	height: calc(var(--button-height) * 1.5);
	background-color: rgb(63, 39, 39);
	display: flex;
	align-items: center;
	justify-content: center;
}
#lobby-control-panel.searching {
	animation-duration: 1000ms;
  animation-name: flashgreen;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#lobby-control-panel::after {
	content: 'searching for opponent...';
	color: green;
	position: absolute;
	transform: translateY(calc(var(--button-height) * -1));
	opacity: 0;
	transition: opacity 500ms ease;
}
#lobby-control-panel.searching::after {
	opacity: 1;
}
#lobby-control-panel.searching #back-to-title-button {
	opacity: 0;
	pointer-events: none;
}
.title-button {
	height: var(--button-height);
	width: calc(var(--header-height) * 4);
	font-size: calc(var(--header-height) / 2);	
	text-shadow: 0px 0px calc(var(--border-width) * 2) rgba(0, 0, 0, 0.6);
	color: white;
}
#toggle-ready-button {
	background: green;
	transition: background-color 500ms ease;
}
#back-to-title-button {
	position: absolute;
	bottom: calc(var(--button-height) / 4);
	left: calc(var(--button-height) / 5);
	background: rgb(206, 169, 169);
	width: var(--button-height);
	transition: opacity 500ms ease;
}
#lobby-control-panel.searching #toggle-ready-button {
	background: rgb(157, 58, 19);
}
#enter-lobby-button {
	background: rgb(117, 139, 117);
	width: calc(var(--header-height) * 5);
}
#how-to-play-button {
	background: rgb(158, 118, 186);
}
#vs-cpu-button {
	background: rgb(130, 161, 192);
}
#options-button {
	background: rgb(165, 123, 102);
}
#title-screen {
	background-color: rgb(21, 40, 21);
	position: absolute;
	top: 0;
	width: 100%;
	height: var(--actual-height);
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-rows: 20% 32% min-content 1fr min-content;
	row-gap: 3%;
	/* padding-bottom: 10%; */
	transition: transform 200ms ease, opacity 200ms ease;
	pointer-events: all;
	z-index: 5;
}
#title-screen.hidden {
	opacity: 0;
	pointer-events: none;
}
#lower-title-button-area {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	padding-top: calc(var(--button-height) / 8);
}
#multiplayer-login-area {
	height: 100%;
	width: calc(var(--play-area-width) * 0.8);
	display: grid;
	grid-template-rows: var(--header-height) min-content 0.8fr 1fr;
	justify-items: center;
	align-items: center;
	/* row-gap: 5%; */
	/* padding-bottom: 10%; */
	border: var(--border-width) solid rgba(0, 0, 0, 0.535);
	background-color: rgba(0, 0, 0, 0.303);
	border-radius: calc(var(--die-size) / 3);
	/* padding: calc(var(--die-size) / ); */
}
#multiplayer-legend {
	font-size: calc(var(--header-height) / 1.75);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* align-self: start; */
}
#known-user-confirmation {
	font-size: 75%;
	color: green;
	justify-self: center;
	align-self: end;
}
#name-entry-field {
	width: calc(var(--header-height) * 5);
	height: calc(var(--header-height) / 1.5);
	padding: calc(var(--header-height) / 8) 0;
	font-size: calc(var(--header-height) / 2);;
	text-align: center;
}
.typed-sentence {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
	height: min-content;
	font-size: calc(var(--play-area-width) / 20);
	/* border: 1px solid; */
}
.typed-character {
	transform: scale(0);
	transition: transform 100ms ease;
}
.typed-character.revealed {
	transform: scale(1);
}
.typed-word {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5rem;
}
.typed-word.bold {
	font-weight: bold;
	color: rgb(142, 255, 142);
	text-shadow: 0 0 4px black;
}
.typed-word.double-color {
	font-weight: bold;
	color: rgb(201, 206, 124);
	text-shadow: 0 0 4px black;
}
.typed-word.triple-color {
	font-weight: bold;
	color: rgb(200, 147, 236);
	text-shadow: 0 0 4px black;
}
#tutorial-top-text-area {
	width: 100%;
	flex: 1;
	display: grid;
	grid-template-rows: min-content min-content;
	padding: 0.5rem 1.5rem;
	row-gap: 0.5rem;
	/* background: gray; */
}
#tutorial-bottom-area {
	height: var(--header-height);
	width: 100%;
	display: grid;
	grid-template-columns: min-content min-content min-content;
	column-gap: calc(var(--header-height) / 3);
	align-items: center;
	justify-content: center;
	opacity: 0;
}
#tutorial-image-area {
	width: 100%;
	height: calc(((var(--actual-height) - (var(--header-height) * 2))) * 0.65);
}
.progress-dot {
	width: calc(var(--header-height) /2);
	height: calc(var(--header-height) /2);
	border-radius: 50%;
	background-color: rgba(128, 128, 128);
	opacity: 0.3;
	transition: opacity 200ms ease;
}
.progress-dot.selected {
	opacity: 1;
}
.question-mark {
	position: absolute;
	font-size: calc(var(--play-area-width) / 2);
	transform: translateY(calc(var(--die-size) * -0.8));
	font-weight: bold;
	color: white;
	text-shadow: 0 0 calc(var(--border-width) * 2) black;
	z-index: 1;
	opacity: 0.5;
	animation-name: wave;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#tutorial-screen {
	position: absolute;
	width: 100vw;
	height: var(--actual-height);
	background-color: rgb(70, 40, 40);
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 10% 1fr 13%;
	align-items: stretch;
	justify-items: center;
	opacity: 1;
	/* pointer-events: none; */
	z-index: 0;
}
#tutorial-screen.showing {
	opacity: 1;
	transition: opacity 200ms ease;
	z-index: 4;
}
#tutorial-header, #tutorial-footer, #options-header, #options-footer {
	font-size: calc(var(--header-height) / 1.25);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}
#tutorial-button {
	height: 55%;
}
#tutorial-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	justify-self: stretch;
}

#options-screen {
	position: absolute;
	width: 100vw;
	height: var(--actual-height);
	background-color: rgb(40, 60, 70);
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 10% 1fr 13%;
	align-items: stretch;
	justify-items: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity 500ms ease;
	z-index: 6;
}

#options-screen.showing {
	opacity: 1;
	transition: opacity 200ms ease;
	pointer-events: all;
}


@keyframes pulseborder {
  from{
    border-color: rgb(146, 145, 145);
  }
  to {
    border-color: rgb(156, 96, 96);
  }
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}
@keyframes bob {
  from {
    transform: scale(1);
  }
  to {
		transform: scale(1.1);    
  }
}
@keyframes wave {
  from {
    transform: translate(calc(var(--die-size) * -0.5), calc(var(--die-size) * -1.1)) rotate(-12deg)
  }
  to {
		transform: translate(calc(var(--die-size) * 0.5), calc(var(--die-size) * -1.1)) rotate(12deg)
  }
}
@keyframes bounce {
  from {
    transform: scale(1);
  }
  to {
		transform: scale(1.2);    
  }
}
@keyframes wobble1 {
  from {
    transform: rotate(-2deg) translateX(0);
  }
  to {
    transform: rotate(2deg) translateX(0.5vw);
  }
}
@keyframes jig {
  0% {
    transform: translateY(0);
		letter-spacing: 0px;
  }
  50% {
    letter-spacing: 0.5px;
  }
  100% {
		transform: translateY(-0.5vw);
		letter-spacing: 1px;
  }
}
@keyframes flashgreen { 
  from {
    /* background-color: rgb(63, 39, 39) */
    background-color: rgb(45, 71, 27);
  }
  to {
		background-color: rgb(68, 111, 40);
  }
}
@keyframes streak { 
  from {
    transform: translateX(0) rotate(0deg)
  }
  to {
		transform: translateX(100vw) rotate(360deg)
  }
}

@media (orientation: landscape) {

}

footer {
	justify-content: end;
}
#debug {
	position: fixed;
	bottom: 2%;
	right: 4%;
	font-size: 10pt;
	opacity: 0.5;
	z-index: 12;
	color: rgb(150, 106, 25);
	z-index: 4;
	color: white;
	/* display: none; */
}

#clear-cookies-button {
	height: 65%;
}
