html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* game screen is always horizontally centered */
/* portrait = pixel size based on game screen width x*/
/* landscape = pixel size based on game screen height */

:root {
	--actual-height: 100vh;
	--play-area-width: 100vw;
	--game-bg-color: #071c08;
	--opponent-area-bg-color: #4e4e2f;
	--player-area-bg-color: #223b3b;
	--header-height: calc(var(--actual-height) / 18);
	--footer-height: calc(var(--actual-height) / 18);
	--turn-area-height: calc((var(--actual-height) - var(--header-height) - var(--footer-height)) / 2 );
	--die-lane-width: calc(var(--turn-area-height) / 4.5);
	--die-size: calc(var(--die-lane-width) * 0.8);
	--die-animation-speed: 200ms;
	--border-width: calc(var(--die-size) / 24);
}

body {
	font-display: swap;
	/* font-family: 'Press Start 2P', sans-serif; */
	font-family: sans-serif;
	font-size: calc(var(--die-lane-width) / 5.5);
	color: white;
  width: 100%;
	max-width: 100%;
	height: var(--actual-height);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
	overscroll-behavior: contain;
	background-color: black;
	transition: opacity 600ms ease;
}
main {
	display: flex;
	width: 100%;
	height: var(--actual-height);
	flex-direction: column;
}
#game-area {
	flex: 1;
	background-color: var(--game-bg-color);
}

.turn-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: var(--turn-area-height);
}
.turn-area::after {
	content: '';
	font-size: calc(var(--die-size));
	font-weight: bold;
	position: absolute;
	height: var(--turn-area-height);
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 300ms ease;	
	pointer-events: none;
	text-shadow: 0 0 calc(var(--border-width) * 2) rgba(0, 0, 0, 0.5);
}
.turn-area.won::after {
	content: 'WINNER';
	background-color: rgba(131, 181, 93, 0.6);
	opacity: 1;
}
.turn-area.lost::after {
	content: ':(';
	opacity: 1;
}
/* .turn-area.won, .turn-area.lost {
	filter: blur(var(--border-width));
} */

#opponent-area {
	background-color: var(--opponent-area-bg-color);
}
#player-area {
	background-color: var(--player-area-bg-color);
}

.die-area {
	width: calc((var(--die-lane-width) * 3) + (var(--border-width) * 6));
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: calc(var(--border-width) * 2);
	grid-template-rows: calc(var(--die-lane-width) / 3) 1fr;
}
#player-area .die-area {
	grid-template-rows: 1fr calc(var(--die-lane-width) / 3);
}
.die-lane {
	height: calc((var(--die-lane-width) * 3) * 0.95);
	border: var(--border-width) solid rgba(27, 145, 72, 0.35);
	border-radius: calc(var(--border-width) * 2);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 200ms ease;
	position: relative;
	pointer-events: none;
}
.die-lane::before {
	opacity: 0;
	content: '';
	background-color: salmon;
	width: var(--die-lane-width);
	position: absolute;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	transition: opacity 300ms ease;
}
.die-lane.available {
	pointer-events: unset;
}
.die-lane.available::before {
	animation-duration: 500ms;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#opponent-area .die-lane {
	justify-content: end;
	flex-direction: column-reverse;
	grid-row-start: 2;
}
#player-area .die-lane {
	justify-content: start;
}
.die-lane-total-area {
	width: 100%;
	height: 100%;
	grid-column-end: span 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.die-lane-total {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.name-score-area {
	width: var(--play-area-width);
	display: flex;
	justify-content: space-around;
}
.contestant-info, .contestant-score {
	display: flex;
	align-items: center;
	justify-content: center;
}
.new-die-box, .contestant-info, .contestant-score {
	height: var(--die-lane-width);
	width: var(--die-lane-width);
	display: flex;
	align-items: center;
	justify-content: center;
}
.contestant-score {
	font-size: calc(var(--die-lane-width) / 2)
}
.contestant-score::after {
	content: '';
	position: fixed;
	font-size: calc(var(--border-width) * 5);
	transform: translateY(-100%);
	opacity: 0;
	transition: transform 300ms ease, opacity 100ms ease;
}
.contestant-score.decreased::after {
	opacity: 1;
	color: rgb(175, 47, 47);
	transform: translateY(-175%);
}
.contestant-score.increased::after {
	opacity: 1;
	color: rgb(119, 220, 85);
	transform: translateY(-175%);
}
.new-die-box {
	border: var(--border-width) solid rgb(146, 145, 145);
	border-radius: calc(var(--border-width) * 2);	
}
.new-die-box.highlighted {
	animation-duration: 400ms;
  animation-name: pulseborder;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.die-lane.highlighted {
	border-color: rgba(149, 214, 152, 0.724);
}
.die {
	height: var(--die-size);
	width: var(--die-size);
	background-color: rgb(244, 244, 244);
	border-radius: calc(var(--die-lane-width) * 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	scale: 0;
	filter: drop-shadow(0 0 calc(var(--border-width) * 2) rgba(0, 0, 0, 0.25));
	transition: scale var(--die-animation-speed) ease, background 150ms ease;
}
@media (prefers-color-scheme: dark) {
  .die {
		background-color: rgb(200, 200, 200);
	}
}
.die.doubled {
	background-color: rgb(201, 206, 124);
}
.die.tripled {
	background-color: rgb(200, 147, 236);
}
.die.showing {
	scale: 1;
}
.die.angry {
	background-color: rgb(175, 47, 47);
	scale: 0.9;
}
.die-dot-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}
.die-dot {
	visibility: hidden;
	border-radius: 50%;
	height: calc(var(--die-size) / 4.5);
	width: calc(var(--die-size) / 4.5);
	margin: calc(var(--die-size) * 0.025);
}
.die-dot.filled {
	visibility: visible;
	background-color: black;
}

#opponent-die-grid .die {
	margin-bottom: calc(var(--die-lane-width) * 0.1);
}
#player-die-grid .die {
	margin-top: calc(var(--die-lane-width) * 0.1);
}

header, footer {
	top: 0;
	left: 0;
	width: 100vw;
	font-family: sans-serif;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	color: rgb(72, 72, 72);
	background: rgb(63, 39, 39);
	padding: 0 calc(var(--header-height) / 4);
	z-index: 1;
}

header {
	height: var(--header-height);
	color: #ddd;
}

footer {
	height: var(--footer-height);
	top: unset;
	bottom: 0;
}

.modal {
	position: fixed;
	top: var(--header-height);
	width: 100%;	
	height: calc(var(--actual-height) - var(--header-height));
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	transition: opacity 300ms ease;
	z-index: 2;
}
#lobby-screen {
	position: fixed;
	background-color: #222;
	color: rgb(128, 145, 128);
	/* display: none; */
}
#user-list-area {
	background-color: rgb(45, 54, 57);
	flex: 1;
	width: 100%;
	padding: calc(var(--border-width) * 4);
	overflow-y: scroll;
}
#chat-area {
	width: var(--play-area-width);
	background-color: #111;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding: calc(var(--border-width) * 6);
	font-size: 1.15em;
}
#lobby-chat-window {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	flex: 1;
	overflow-y: scroll;
}
#lobby-chat-window {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#lobby-chat-window::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.chat-message, .user-list-row, #user-column-labels {
	display: grid;
	grid-template-columns: 20% min-content 1fr 20%;
	justify-items: center;
	column-gap: calc(var(--border-width) * 4);
	margin-bottom: calc(var(--border-width) * 2);
}
#user-list {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
#user-column-labels {
	justify-items: start;
}
#user-list > div {
	background-color: #333;
	border-radius: calc(var(--border-width) * 3);
	padding: calc(var(--border-width) * 3) 0;
}
#user-list > div, #user-column-labels {
	grid-template-columns: 8rem 4rem 1fr max-content;
	justify-items: start;
	padding: calc(var(--border-width) * 4);
}
#user-list > div > div:nth-child(4) {
	justify-self: end;
	font-size: 0.7rem;
}
.chat-message {
	grid-template-columns: 1fr max-content;
	grid-template-rows: min-content 1fr;
	justify-items: unset;
	row-gap: calc(var(--border-width) * 2);
	border-bottom: calc(var(--border-width) / 2) solid rgba(34, 34, 34, 0.2);
	padding-bottom: calc(var(--border-width) * 4);
}
.self div:nth-child(1) {
	color: green;
}
.chat-message div {
	hyphens: auto;
}
.chat-message div:nth-child(1), .chat-message div:nth-child(2) {
	font-size: 0.9rem;
}
.chat-message div:nth-child(3) {
	color: #ddd;
}
.chat-message div:nth-child(4) {
	display: flex;
	align-items: center;
	justify-content: center;
}
.chat-message div:nth-child(3) {
	padding: calc(var(--border-width) * 2);
}
#user-list-area > div:nth-child(2) {
	font-size: 0.8rem;
	margin: calc(var(--border-width) * 4) 0;
	padding-bottom: calc(var(--border-width) * 4);
	border-bottom: calc(var(--border-width) / 2) solid rgba(34, 34, 34, 0.2);
}
#user-list-area > div:nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: center;
}
#chat-entry-area {
	margin-top: calc(var(--border-width) * 4);
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
#lobby-chat-field {
	padding: calc(var(--border-width) * 3);
	font-size: inherit;
	flex: 1;
}
#chat-submit-button {
	width: calc(var(--die-size));
	margin-left: calc(var(--border-width) * 3);
}
#lobby-control-panel {
	width: var(--play-area-width);
	background-color: #353;
	height: calc(var(--header-height) * 2);
	display: flex;
	align-items: center;
	justify-content: center;
}
#toggle-ready-button, #enter-lobby-button {
	height: calc(var(--header-height) * 1.5);
	width: calc(var(--header-height) * 4);
	font-size: calc(var(--header-height) / 2);
}
#name-entry-screen {
	background-color: rgb(21, 40, 21);
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--actual-height);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: opacity 300ms ease;
	z-index: 3;
	/* display: none; */
}
#known-user-confirmation {
	font-size: 75%;
	color: green;
	padding-bottom: calc(var(--header-height) / 4);
}
#name-entry-field {
	width: calc(var(--header-height) * 6);
	height: calc(var(--header-height));
	padding: calc(var(--header-height) / 8);
	font-size: calc(var(--header-height) / 2);;
	margin-bottom: calc(var(--header-height));
	text-align: center;
}

@keyframes pulseborder {
  from{
    border-color: rgb(146, 145, 145);
  }
  to {
    border-color: rgb(156, 96, 96);
  }
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}


@media (orientation: landscape) {

}

#debug {
	position: fixed;
	width: 20%;
	bottom: calc(var(--footer-height) / 10);
	right: 0;
	z-index: 12;
	font-size: 10pt;
	opacity: 0.5;
	/* display: none; */
}

#clear-cookies-button {
	height: 65%;
}
